@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@700&family=Mukta:wght@200;800&display=swap');

*{
  margin: 0;
  padding: 0;
  --cor1: #0D0D0D;
  --cor2: #FFFFFF;
  --cor3: #23D962;
  --cor4: #24A652;
  --cor5: #CE754C;
  --cor4mc: rgba(36, 166, 82, 0.75); 
  --cor4mmc: rgba(36, 166, 82, 0.5); 
  --adventfont: 'Advent Pro', sans-serif;
  --muktafont: 'Mukta', sans-serif;
  --height: 60px;
}

/* ---------- SET COLORS ---------- */
header, footer{
  background: var(--cor1);
}
footer,
fieldset > input{
  color: var(--cor2);
}
main{
  background: var(--cor2);
}
fieldset > h2 > a{
  color: var(--cor3);
}  
fieldset > input{
  background-color: var(--cor4);
}
fieldset > input:hover{
  background-color: var(--cor4mc);
}
fieldset > input:active{
  background-color: var(--cor4mmc);
}
fieldset > p{
  color: var(--cor5);
}
/* ---------- SET COLORS ---------- */

/* ---------- HEADER & FOOTER ---------- */
header, footer{
  position: absolute;
  left: 0px;
  width: 100%;
  height: var(--height);
}
header{
  text-align: center;
  top: 0px;
}
footer{
  bottom: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ---------- HEADER & FOOTER ---------- */

/* ---------- MAIN ---------- */
main{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 40px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  border: 3px solid var(--cor1);
}
/* ---------- MAIN ---------- */

/* ---------- FORM ---------- */
fieldset{
  position: absolute;
  height: 100%;
  left: 15px;
  right: 15px;
  border: none;
}
/* ---------- FORM ---------- */

/* ---------- FORM COMPONENTS ---------- */
fieldset > h1{
  font-family: var(--muktafont);
  text-decoration: underline;
  font-size: 2em;
  font-weight: 800;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
fieldset > div{
  display: flex;
  gap: 5px;
  margin-bottom: 15px;
}
fieldset > div > label{
  width: 30%;
  font-family: var(--muktafont);
  font-weight: 800;
}
fieldset > div > input{
  width: 100%;
}
fieldset > h2{
  text-align: center;
  position: absolute;
  bottom: 15px;
  width: 100%;
  font-family: var(--muktafont);
}
fieldset > h2 > a{
  display: block;
}
fieldset > input{
  margin-top: 15px;
  border-radius: 20px;
  padding: 10px;
  font-family: var(--adventfont);
  font-weight: 700;
  border: none;
  width: 100%;
}
fieldset > p{
  margin-top: 15px;
  text-align: right;
  font-family: var(--adventfont);
}
/* ---------- FORM COMPONENTS ---------- */



@media only screen and (max-width: 767px){
  main{
    width: 100%;
    transform: translate(0, 0);
    border-radius: 0;
    border: none;
  }
  header, footer, main,
  fieldset,
  fieldset > h2{
    position: static;
  }
  fieldset > div > label{
    width: 100%;
  }
  fieldset > div{
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  fieldset > input{
    font-size: 1.5em;
    border-radius: 0;
  }
  fieldset > h2{
    margin: 60px auto;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
  main{
    width: 280px;
    height: 350px;
  }
  fieldset > h2{
    font-size: 0.6em;
  }  
  fieldset > input{
    font-size: 0.8em;
  }
  fieldset > h2 > a{
    margin-top: -5px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px){
  main{
    width: 320px;
    height: 400px;
  }
  fieldset > h2{
    font-size: 0.8em;
  }  
  fieldset > input{
    font-size: 1em;
  }
  fieldset > h2 > a{
    margin-top: -8px;
  }
}
@media only screen and (min-width: 1200px){
  main{
    width: 400px;
    height: 500px;
  }
  fieldset > h2{
    font-size: 1em;
  }  
  fieldset > input{
    font-size: 1.2em;
  }
  fieldset > h2 > a{
    margin-top: -10px;
  }
}

