<header>
  
  <aside id="logo">
    <a href="{{home-url}}"><img src="/Resources/_img/if_logo.png"></a>
  </aside>
  
  <nav id="navegator">
    
    <input type="checkbox" id='nav-menu-dropdown-checkbox'>
    <label for="nav-menu-dropdown-checkbox" id='nav-menu-dropdown'>
      <img src="/Resources/_img/menu.svg" class="svgcor2">
    </label>

    <div id='nav-dropdown-content'>
      
      <ul>
        <li><a href="{{home-url}}">Início</a></li>
        <li><a href="Views/Pages/UserPage.html">Perfil</a></li> <!-- alterar href-->
        <li><a href="{{calendario-url}}">Calendário</a></li>
        <li><a href="{{agendamento-url}}">Agendamento</a></li>
        <li><a href="Views/Pages/AddItem.html">Estoque</a></li> <!-- alterar href-->
      </ul>
      
      <aside id='login-icon' class="nav-dropdown-content">
        <a href="{{login-url}}"><p>Entrar</p><img src="/Resources/_img/join.png"></a>
      </aside>
      
    </div>
    
  </nav>
</header>