<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="devide=device-width, initial-scale=1">
  <title>Página Inicial</title>
  <link href="../../Resources/_style/HomePage.css" rel="stylesheet" type="text/css"><link href="../../Resources/_style/_components/Calendar.css" rel="stylesheet" type="text/css">
</head>

<body>

  {{navbar}}
  
<main>
  <article id="Calendario">
    {{calendar}}
  </article>
</main>
  
{{footer}}

  </body>
</html>
